packages:
  yum:
    php-pear: []
    php-devel: []
    gcc: []
commands:
    #01_node_install:
        ## run this command from /tmp directory
        #cwd: /tmp
        ## don't run the command if node is already installed (file /usr/bin/node exists)
        #test: '[ ! -f /usr/bin/npm ] && echo "node not installed"'
        ## install from epel repository
        ## flag -y for no-interaction installation. SPecifying node version here due to bug in 14.18.1
        #command: "curl --silent --location https://rpm.nodesource.com/setup_14.x | bash - && sudo yum install -y nodejs-14.18.0 && sudo npm install --global cross-env"
    disable_remi_safe:
        command: yum-config-manager --disable remi-safe
    install_mongo_driver_command:
        command: pecl install mongodb
        ignoreErrors: true
    install_swoole_package:
        command: yes | pecl install swoole
        ignoreErrors: true
    #disable_swoole_in_php_ini:
        #command: sed -i 's/extension=swoole.so/;extension=swoole.so/g' /etc/php.ini && sed -i 's/extension="swoole.so"/;extension="swoole.so"/' /etc/php.ini && php -ri swoole
        #ignoreErrors: true
    #disable_swoole_in_php_ini:
        #command: sed -i 's/extension=swoole.so/;extension=swoole.so/g' /etc/php.ini && sed -i 's/extension="swoole.so"/;extension="swoole.so"/' /etc/php.ini && php -ri swoole
        #ignoreErrors: true
